---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>  
  <h1>{pageTitle}</h1>
  
  <h2><a class="blog-title" href="/posts/post-1/">&rsaquo;Post 1</a></h2>
</BaseLayout>