---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>  
  <h1>{pageTitle}</h1>
  
  <h2><a class="blog-title" href="/posts/async-programming-csharp/">&rsaquo;Asynchronous Programming in C#</a></h2>
</BaseLayout>