---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>	
	<h1>Welcome to my Astro site!</h1>
	<h2>... and my first Astro page!</h2>

	<p>I am working through Astro's introductory tutorial. This is the first page on my website, and it's the first one I built myself!</p>

	<p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
</BaseLayout>
