---
import Hamburger from "../components/Hamburger.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
		</style>
		<title>{pageTitle}</title>
	</head>
	<body>
		<Hamburger />
		<Header />
		<slot />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>